@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    --fonte01:"Sriracha", cursive;
    --fonte02:"Indie Flower", cursive;
    --fonte03:"Bad Script", cursive;
    --cor1:#D3D3D3;
    --cor2:#2F9E79;
    --cor3:#6bb2c2;
}

* {
    margin:0px;
    padding:0px;
}

html, body {
    min-height:100vh;
}
header {
   font-family:var(--fonte03);
   text-align:center;
   background-color:var(--cor4);
   background-image:url("imagens/wallpaper01.jpg");
   background-position:right bottom;
   background-repeat:no-repeat;
   background-size:auto;
   background-attachment: fixed;
   color:white;

}

header > h1 {
    padding-top:60px;
    font-size:32px;
}

header > p {
    padding-bottom:60px;
    font-size:20px;
}

section {
    max-width:80%;
    height:330px;

    margin: 50px auto;
    padding:40px;
    font-size:18px;
    font-family: var(--fonte03);

    color: white;
}

section.normal {
    background-color: var(--cor1);
}

section.estrofe {
    margin:0px;
    padding:10px;
    max-width: 250px;
    max-height:200px;
    background-color:rgba(0, 0, 0, 0.325);
}

section.imagem {
    background-color: beige;
}

section#img01 {
    background-image:url("imagens/wallpaper03.jpg");
    background-position:center center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}


section#img02 {
    background-image: url("imagens/wallpaper05.jpg");
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section#img03 {
    align-content: flex-end;
    background-image: url("imagens/wallpaper04.jpg");
    background-position:center top;
    background-size:cover;
    background-attachment:fixed;
}

section#img03 > section.estrofe  {
    background-color: rgba(0, 0, 0, 0);
}

section#img04 {
    background-image:url("imagens/wallpaper07.jpg");
    background-position:center center;
    background-size:cover;
    background-attachment: fixed;
}

footer {
    background-color: rgb(93, 182, 217);
    color:white;
    font-family:var(--fonte03);
    text-align: center;
    padding:30px;
    font-size:20px;
}



